:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --primary-bcg-color: #2F303A;
    --accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --secondary-bcg-color: #F5F4FA;
    --primary-border-color: #EEEEEE;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Logo */
.logo {
    color: var(--primary-text-color);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}
/* Утилиты */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo-header {
    color: var(--accent-color);
    text-decoration: none;
}

.page {
    background-color: var(--primary-white-color);
    color: var(--secondary-text-color);
    font-family: var(--primary-font-family);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.site-nav .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--primary-text-color);
        font-weight: 500;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
}

.mail-number {
    display: flex;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.mail-number:hover,
.mail-number:focus {
    color: var(--accent-color);
}

.phone-mail {
    display: flex;
    margin-left: auto;
}

.phone-mail .item+ .item {
    margin-left: 50px;
}


.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color)
}
.site-nav .link .current {
    color: var(--accent-color)
    
}


.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;


}

.nav-list {
    margin-left: 93px;
}


h1,h2,h3,h4,h5,h6,p,ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/* Hero */
.hero-title { 
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero {
    text-align: center;
    background-color: var(--primary-bcg-color);
    padding: 200px 0;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
        url("../images/image\ hero.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #C4C4C4;
        ;
    

}

/* Наши сильные качества */
.quality-list {

    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    
}

.thumb {
    background: #F5F4FA;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;

}


.thumb:hover,
.thumb:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.antena {
    margin-left: 100px;
}

.quality {
    padding-bottom: 0;
}



.title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 14px;
}
.quality-list .text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.text {
    margin-top: 0;
    margin-bottom: 0;

}

.title-text {
    margin-right: 30px;
}



/* Examples */
.service-title {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 50px;
}


.list-image {
    display: flex;
    justify-content: space-between;
}


.images-comp:not(:last-child) {
margin-right: 30px;
}

/* Button */
.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: var(--secondary-accent-color);
}


.our-team {
    background-color: var(--secondary-bcg-color);
    margin-bottom: 94px;

}

.team-title {
    color: var(--primary-text-color);
    background-color: var(--secondary-bcg-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.teammate {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.teammates {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team {
    display: flex;
    justify-content: space-between;
}


.team-img {
    margin-right: 30px;

}

.list-command {
    width: 270px;
    background-color: var(--primary-white-color);
    margin-right: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ---Постоянные клиенты--- */

.actions {
    display: flex;
    list-style: none;
    justify-content: center;
}

.icn-lst {
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 94px;

}

.icons:hover, 
.icons:focus {

}

.icn-lst:not(:last-child) {
    margin-right: 30px;
    }



.footer {
    background-color: var(--primary-bcg-color);
    padding: 60px 0;


}

.logo-footer {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.street-adress {
    font-style: normal;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;


}

.contacts-footer {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:not(:last-child) {
    margin-bottom: 9px;
}

.accentlogo {
    color: var(--primary-white-color);
}

.adresses {
    display: flex;
    flex-direction: column;
    font-style: normal;
    margin-top: 20px;
}


/* Portfolio */

.button-list {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    display: flex;
    margin-bottom: 34px;
    justify-content: center;
}

.buttons {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
    cursor: pointer;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
    
}


.galerry-list {
    display: flex;
    flex-wrap: wrap;
}

.gallery:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.flex-elements{
    display: block;
    width: 370px;
 

}



.name-pic {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.names-pic {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid var(--primary-border-color);
    border-left: 1px solid var(--primary-border-color);
    border-right: 1px solid var(--primary-border-color);

}


.gallery:not(:nth-child(3n)) {
    margin-right: 30px;
}

.gallery:nth-last-child(-n +3) {
    margin-bottom: 0;
}

.gallery {
    margin-bottom: 30px;
}

.kind-bussines {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.links {
    text-decoration: none;
}

.buttons:hover,
.buttons:focus {
    background-color: var(--secondary-accent-color);
    color: var(--primary-white-color);
}

.buttons {
    border: none;
    margin-right: 8px;
}

.btn {
    margin-right: 8px;
}